.button{
	padding: 10px 15px;
	background: #2196F3 ;
	border-radius: 5px;
	transition: box-shadow 0.3s;
	display: inline-block;
	color: #fff;
	font-weight: 600;
}
.button:hover{
	box-shadow: 0 0 5px #000;
	transition: box-shadow 0.3s;
}