.headerInfo{
	font-size: 80%;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media (max-width:754px) {
	.headerInfo{
		font-size: 16px;
		text-align: center;
		justify-content: center;
	}
	.main{
		justify-content: center;
	}
	.phone{
		font-size: 20px;
		margin: 10px;
	}
}
.main{
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	column-gap: 30px;
	flex-wrap: wrap;
}
.mainContent{
	max-width: 425px;
}
.phone{
	margin-right: 20px;
}

.social{
	display: flex;
	column-gap: 10px;
}
.social img{
	width: 34px;
	height: 34px;
	border-radius: 50%;
}