.headerInfo{
	padding: 0 15px;
	background: #2196F3 !important;
	color: white;
	text-align: left;
	font-size: 110%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main{
	display: flex;
	align-items: center;
	column-gap: 30px;
}
.mainContent{
	width: 425px;
}
.phone{

}
.social{
	display: flex;
	column-gap: 10px;
}
.social img{
	width: 34px;
	height: 34px;
	border-radius: 50%;
}