.formContainer{
	&>div{
		display: flex;
		&>div{
			flex: 0 0 50%;
		}
	}
}
.form{
	display: flex;
	flex-direction: column;
	align-items: center;
	&>div{
		color: red;
	}
	h1{
		font-size: 23px;
	}
	select{
		width: 200px;
		padding: 5px;
		font-size: 16px;
	}
	&>*{
		display: block;
		margin-bottom: 15px;
	}
	button{
		font-size: 18px;
		border: 1px solid #000;
		padding: 5px 10px;
		border-radius: 5px;
		transition: box-shadow 0.5s;
		&:hover{
			box-shadow: 0 0 3px #000;
			transition: box-shadow 0.3s;
		}
	}
}

.table{
	display: grid;
	grid-template-columns: 100px repeat(2,1fr);
	align-items: center;
	text-align: center;
	&:first-child{
		background: #42A5F5;
	}
	&>div{
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.254);
	}
}