@import "./NullCss.css";

.container{
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 10px;
}

.wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper__content{
	flex: 1 1 100%;
	margin-top: 170px;
	padding: 15px 0;
	background: rgba(0, 0, 0, 0.034);
}
.wrapper__header-menu{
	border-bottom: 0.5px solid #8d8c8c25;
	background: #fff;
}
.wrapper__header-info{
	top: 0;
	position: fixed;
	z-index: 5;
}
.wrapper__header-menu{
	top: 55px;
	position: fixed;
	z-index: 5;
	width: 100%;
}
.wrapper__header-info, .wrapper__footer-info{
	width: 100%;
	color: #fff;
	background: #2196F3;
	font-size: 110%;
	padding: 0 15px 5px;
}
.wrapper__footer{
	border-top: 0.5px solid #8d8c8c25;
}
.wrapper__footer-info{
	font-size: 90%;
	text-align: center;
	padding-top: 5px;
}